/*  This Stylesheet needs to make my calculator look as close to the designed
document that I was given, it also needs to take into account Phone/Tablet
sizes and landscape mode. */
*, *::before, *::after{
    box-sizing: border-box; 
}
 body{
    
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-section{
    background: rgb(100, 83, 144);
    padding: 2.25em;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    
}
.burger-menu{
    position: relative;
    top: 2.25em;
    right: 1.5em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
.divider-bar{
    background: rgb(50, 38, 80);
    height: .5em;
}
.calculator-body{
    min-height: 95vh;
    justify-content: center;
    border-top-left-radius:2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius:2em ;
}
.calculator-section{
    background: rgb(67, 50, 110);
    height: 86vh;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    
}
.calculator-view-window{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    margin-right: 35px;
    margin-left: 35px;
    min-height: 150px;

}

/*
//had to redo this got too messy....Ended up being the min height that threw me...lol
.calculator-view-window{
    display: grid;
    background-color: rgba(67, 50, 110, 0.699);
    color: white;
    margin-right: 3em;
    grid-template-columns: 1, 1em;
    grid-template-rows:minmax 2, 1em;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    flex-direction: column;
    word-wrap:break-word;
    word-break: break-all;
    min-height: 250px;

} */
.previous-operand{
    color:rgba(255, 255, 255, 0.555);
    font-size: 2rem;
    align-content: bottom;
}
.current-operand{
    color:white;
    font-size: 3.5rem;
    align-content: bottom;
}
.calculator-keypad{
    display: grid;
    justify-content: center;
    align-content: top;
    grid-template-columns: repeat(4, 3.25em);
    grid-template-rows: repeat(5, 4.25em);
    grid-gap: 2em;
  
   
}
.btn:hover{
    background-color: lightgreen;

}
button{
    font-size: 1.72em;
    font-weight: bolder;
}
.btn{
    color: white;
    background-color: transparent;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    padding: 1.2em;
}
.span-two-row{
    grid-row: span 2;
    border-radius: 3em;
}
.span-two-column{
    grid-column: span 2;
    border-radius: 3em;
}
.number{
    border:solid 2px white;
}
.operator{
    border: solid .5px rgb(250, 214, 82);
    color: rgb(67,50,110);
    background-color: rgb(250, 214, 82);
}
.equals{
    border: solid .5px rgb(250, 214, 82);
    color: rgb(67,50,110);
    background-color: rgb(250, 214, 82);
}
.clear{
    border: solid 2px rgb(250, 214, 82);
}
.backspace{
    visibility: hidden;
} 


